/* ----- all common css start -----  */
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

ul,
ol {
    list-style-type: none;
}

a,
a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

body {
    position: relative;
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

/* ----- all common css end ----- */
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 50px 230px 0px 226px; */
    /* justify-content: space-around; */
    margin: 0px 230px 0px 226px;
}
/* nav > ul{ */
    /* margin: 0px 1253px 0px 226px;  */
    align-items: center;
}
h1{
    color: var(--Dark-01, #181818);

font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 800;
/* line-height: normal; */
}  
.Mary{
color: var(--Dark-01, #181818);
padding: 51px 0px 0px 0px ;    
/* padding-right: 633px; */
font-size: 45px;
font-style: normal;
font-weight: 800;
/* line-height: normal; */
}
.primary{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav  li{
    /* text-decoration: none; */
    list-style: none;
    margin-right:51px ;
}
nav a{
   text-decoration: none;
   /* padding:68px 230px 66px 0px  ; */
   /* color:  #474747; */
   color: var(--Dark-02, #474747);
/* font-family: Open Sans; */
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.btn1{
    padding: 18px 35px 19px 36px;
    width: 150px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
background: #FD6E0A;
color: var(--White-Color, #FFF);
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.header{
 background: #FFF8F3;
 background-image: url('../images/header_bg.png');
 background-repeat: no-repeat;
 background-position: bottom right;
/* width: 1600px; */
/* height: 837px; */
/* flex-shrink: 0; */
}
.hi{
    padding: 185px 571px 5px 0px;
    color: var(--Dark-02, #474747);
/* font-family: Open Sans; */
font-size: 45px;
/* font-style: normal; */
font-weight: 600;
/* line-height: normal; */
}
.banner-title{
    /* margin: 05px 250px 20px 0px; */
    padding: 30px 0px;
    color: var(--Dark-01, #181818);
/* font-family: Open Sans; */
font-size: 85px;
/* font-style: normal; */
font-weight: 700;
/* line-height: normal; */

}
.definition{
    padding: 20px 163px 30px 0px;
    color: var(--Dark-03, #757575);
/* font-family: Open Sans; */
font-size: 18px;
/* font-style: normal; */
font-weight: 400;
line-height: 30px; 
}
.banner{
    display: flex;
    padding: 47px 30px 0px 230px;
    align-items: center;
}
.photo{
    /* margin: 161px 38px 0px 0px; */
width: 584px;
height: 676px;
flex-shrink: 0;
padding: 47px 38px 0px 163px;
}
.btn2{
    /* margin:0px 30px 184px 230px ; */
    width: 200px;
height: 64px;
flex-shrink: 0;
border-radius: 5px;
background: #FD6E0A;
color: var(--White-Color, #FFF);
text-align: center;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.btn3{
    margin-left: 30px;
    width: 160px;
height: 64px;
flex-shrink: 0;
border-radius: 5px;
border: 1px solid #FD6E0A;
color: #FD6E0A;
text-align: center;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
/* .main */
#about{
    margin-bottom: 130px;
}
.mardiv{
text-align: center;
margin: 0 auto;
/* margin: 130px 230px 130px 230px; */
/* margin: 130px 0px ; */
width: 1140px;
height: 550px;
flex-shrink: 0;
border-radius: 10px;
background: #FFF8F3;
}
.sechead{
/* margin: 131px 486px 30px 485px;  */
/* width: 169px; */
height: 48px;
/* margin: auto; */
/* (margin and padding are basically same here) */
/* display: inline-block; */
color: var(--Dark-01, #181818);
text-align: center ;
/* font-family: Open Sans; */
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.secbody{
padding: 0px 157px 30px 156px;
color: var(--Dark-03, #757575);
/* text-align: center; */
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
header{
    margin-bottom:130px;
 }
 .secf{
    display: flex;
    text-align: center;
 }
 .secf h3{
    font-weight: 300;
    }
    
.about-info{
    margin: 30px 50px 131px 179px;
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
 }
.ap{
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}
.about-email{
    margin: 30px 50px 131px 0px;
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;   
}
.ap2{
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;    
}
.about-dob{
    margin: 30px 50px 131px 0px;
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;   
}
.ap3{
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;   
}
.about-from{
    margin: 30px 0% 131px 0px;
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;   
}
.ap4{
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;   
}
.setit{
    margin: 130px 716px 30px 717px;
    color: var(--Dark-01, #181818);
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;   
}
.secdif{
margin: 0px 346px 50px 345px;
color: var(--Dark-03, #757575);
text-align: center;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
#skills{
    display: flex;
    justify-content: space-between;
  width: 1140px;
  margin: 0 auto;
}
.pho1{
    margin: 30px 193px 30px 30px;
}
.skione{
/* margin:  50px 24px 130px 230px; */
width: 267px;
/* height: 377px; */
flex-shrink: 0;
border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skitit{
margin: 0px 63px 20px 30px;
color: var(--Dark-01, #181818);
text-align: center;
display: flex;
font-family: Open Sans;
font-size: 19px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.skidef {
margin:0px 33px 30px 33px;
width: 201px;
color: var(--Dark-03, #757575);
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}
/* .pho2{
    margin: 30px 190.07px 30px 27px;
    }
.skitwo{
margin: 50px 24px 130px 0px;
width: 267px;
height: 377px;
flex-shrink: 0;
border-radius: 5px;
background: #FFF;

box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skitit2{
margin: 30px 180px 20px 30px;
color: var(--Dark-01, #181818);
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.skidef2{
margin: 0px 33px 30px 33px;
width: 201px;
color: var(--Dark-03, #757575);
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
}
.pho3{
 margin: 30px 197px 30px 30px;   
}
.skithree{
    margin: 50px 24px 130px 0px;
    width: 267px;
height: 377px;
flex-shrink: 0;
border-radius: 5px;
background: #FFF;

box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skitit3{
margin: 30px 159px 20px 33px;
color: var(--Dark-01, #181818);
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.skidef3{
margin: 0PX 33PX 30PX 33PX;
width: 201px;
color: var(--Dark-03, #757575);
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
} */
/* .skifour{
margin: 50px 24px 130px 230px;
width: 267px;
height: 377px;
flex-shrink: 0;
border-radius: 5px;
background: #FFF;

box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
} */
/* .pho4{
margin: 32px 190px 28px 33px;

}
/* .skitit4{ */
/* margin: 0px 140px 20px 30px;
color: var(--Dark-01, #181818);
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
} */
/* .skidef4{ */
/* margin: 0px 33px 30px 33px;
width: 201px;
color: var(--Dark-03, #757575);
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
/* }  */
/* .se{
    margin: 130px 277px 0px 230px;
} */ 
#section{
    margin:160px 277px 113px 230px  ;
}
.sectiontitle{
    color: var(--Dark-01, #181818);
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.rescoltit{
    /* text-align: left; */
    /* display: flex; */
    margin: 113px 280px 0px 0px;
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    /* width: 203px; */
    /* height: 41px; */
}
.resitemtit{
margin-bottom: 10px;
margin-top: 30px;
color: var(--Dark-02, #474747);
font-family: Open Sans;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.institute{
margin-bottom: 20px;
color: var(--Dark-03, #757575);
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.resitemdef{
    margin-bottom: 30px;
    width: 511px;
    color: var(--Dark-03, #757575);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;  
}
.resumcontainer{
    display: flex;
    gap: 71px;
    margin: 0px 230px 0px 277px;
}
.downloadcv{
    text-align: center;
    margin-left: 100px;
}
.footcoltit{

color: var(--Dark-01, #181818);
text-align: left;
padding-left: 117px;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.footsec{
    display: flex;
    text-align: center;
    /* width: 1600px; */
    /* height: 780px; */
    flex-shrink: 0;
    background: #FFF8F3; 
}
.sectiond{
    text-align: left;
    padding: 20px 0px 0px 230px;
    /* width: 562px; */
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 
}
.footcol{
    margin-top: 130px;
    margin-left: 230px;
}
.divi{
    gap: 24px;
    padding-left: 230px;
    padding-top: 30px;
    display: flex;
    width: 24px;
    height: 24px;
    flex-shrink: 0 
};
.di{
    /* display: flex; */
    /* margin-left: 24px; */
}
.formsec input, textarea {
    display: block;
    margin-bottom: 24px;
}
#in{
 padding: 18px 350px 18px 30px;
color: var(--Dark-03, #757575);
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
}
#inp{
    padding: 18px 365px 134px 30px;
/* width: 461px; */
height: 180px;
flex-shrink: 0;
border-radius: 5px;
background: var(--White-Color, #FFF);
color: var(--Dark-03, #757575);
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}
.formsec{
    margin: 28px 230px 130px 117px;
}
.footcoltit1{
color: var(--Dark-01, #181818);
text-align: left;
padding-left: 230px;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}